@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Outfit:wght@100..900&family=Readex+Pro:wght@160..700&display=swap');


.header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 0%,
      rgba(148, 197, 238, 0.418) 100%
    ),
    url(../balde.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  text-decoration: none;
}

.menu__link {
  color: #fff;
  line-height: 4;
  position: relative;
}


.menu__link::before {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  transition: transform .4s, opacity .4s;
  opacity: 0;
}

.menu__link:hover::before {
  transform: translateY(-.25rem);
  opacity: 1;
}

.menu__link--active::before {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  transform: translateY(-.25rem);
  opacity: 1;
}


@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.menu-animation {
  animation: slideFadeIn 0.5s ease-out forwards;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
