@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Outfit:wght@100..900&family=Readex+Pro:wght@160..700&display=swap');


.header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 0%,
      rgba(148, 197, 238, 0.418) 100%
    ),
    url(../balde.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.custom-border {
  border: 2px solid #ffffff; /* Cambia el color y el grosor del borde según tus preferencias */
  border-radius: 8px; /* Ajusta el radio de las esquinas si lo deseas */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
